h1 {
    text-align: center;
}

.container {
    height: 500px;
    width: 80%;
    background-color: rgb(83, 186, 233);
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* justify-content: flex-end; */
    /* justify-content: center; */
    align-content: flex-start;
    align-content: space-around;


}


.container div {
    height: 100px;
    width: 50px;
    text-align: center;
    color: ghostwhite;
    font-size: 1.2em;
}



* {
    background-color: rgb(46, 117, 132);
}