h1 {
    text-align: center;
}

.container {
    height: 600px;
    width: 60%;
    background-color: rgb(83, 186, 233);
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    justify-content: flex-start;
    /* justify-content: center; */ 
    /* align-content: flex-start; */
    /* align-content: space-around; */
    /* flex-wrap: wrap; */
     /* align-content: baseline; */

     align-content: flex-start;



}

#org{
    text-align: center;
    /* align-self: center; */
    /* flex-basis: 100px; */
    /* flex-grow: 2; */
    /* flex-shrink: 2; */
    min-width: 200px;
}

#blue{
    /* flex-basis: 50px; */
    /* flex-grow: 2; */
    /* flex-shrink: 3; */
    min-width: 300px;

}

.container div {
    height: 100px;
    width: 300px;
    text-align: center;
    color: ghostwhite;
    /* font-size: 1.2em; */
}



* {
    background-color: rgb(46, 117, 132);
}