div{
    width: 500px;
    height: 50px;
    background-color: greenyellow;
/* initiliziton animation in object */
    /* animation: bgcolor;
    animation-duration: 2s;
    animation-iteration-count: 3;
    animation-direction: reverse;
    animation-delay: 4s; */
    /* USE SHORT HAND */
     text-align: center;
    /* animation:bgcolor 2s linear 3s infinite reverse */
    animation:colorbg 2s linear 3s infinite reverse

}

@keyframes bgcolor{
   from {
      background-color: aqua;
      width: 30px;
    }
}


/* % in animation */

@keyframes colorbg{

    from{
        width: 200px;
        height: 70px;
        border-radius: 30px;
    }
    0%{
    background-color: blueviolet;
    } 
    50%{
        background-color: cadetblue;
    }
    75%{
        background-color: rgb(22, 245, 145);
    }
    100%{
        background-color: rgb(234, 245, 22);
    }
   
}