.container {
    width: 600px;
    height: 300px;
    background-color: rgb(70, 70, 33);
    display: grid;
    /* grid-template-columns: 120px 120px 120px 120px 120px; */
    /* grid-template-rows: 60px 60px 60px 60px 60px; */
    /* align-content: flex-start; */
    grid-template-columns:repeat(5, 2fr);
    grid-template-rows:repeat(4, 1fr);
}

.itm {
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
    /* grid-row:1/3; */
}

.one{
    justify-items: center;
    /* grid-column-start: 3;  */
     
     grid-template-rows: repeat(2,1fr);

    /* grid-row: 2/4; */
}

.two{
      /* grid-column-start: 3;  */
     
     grid-template-rows: repeat(2,1fr);

    /* grid-row: 2/4; */
}