.container {
    width: 600px;
    height: 300px;
    background-color: yellow;
    display: grid;
    grid-template-columns: 120px 120px 120px 120px 120px;
    /* grid-template-rows: 60px 60px 60px 60px 60px; */
    flex-direction: column;
}

.itm {
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}