.container {
    width: 600px;
    height: 300px;
    background-color: rgb(70, 70, 33);
    display: grid;
    grid-template-columns: 120px 120px 120px 120px 120px;
    /* grid-template-rows: 60px 60px 60px 60px 60px; */
    align-content: flex-start;
   
}

.itm {
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}