.hste1 {
    width: 100px;
    height: 100px;
    background-color: green;
    display: inline-block;
    margin: 10px;
    position: static;
    /* not set position because they are static */
    left: 100px;
    right: 100px;
}

/* without position */
.hste2 {
    width: 100px;
    height: 100px;
    background-color: green;
    display: inline-block;
    margin: 10px;

}

/* with position  relative */

.hste3 {
    width: 100px;
    height: 100px;
    background-color: green;
    display: inline-block;
    margin: 10px;
    position: relative;
    left: 200px;
    right: 100px;
    top: 100px;

}

/* use absolute position */

.hste4 {
    color: yellow;
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin: 10px;
    display : inline-block
}
.hste5 {
    color: yellow;
    width: 100px;
    height: 100px;
    background-color: yellow;
    display: inline-block;
    margin: 10px;
    position: absolute;
    top: 100px;
    left: 70px;
}


.hste6{
    width: 100px;
    height: 100px;
    background-color: aqua;
    display:inline-block;
    margin:10px;
   
    
}

/* use in fixed position */
.hste7{
    width: 100px;
    height: 100px;
    background-color: aqua;
    display:inline-block;
    margin: 10px;
     
     position: fixed;
     top:100px;
     left:300px;
    
}