span {
    color: chocolate;
}


h3 {
    color: brown;
}


h4 {
    color: brown;
}


.card {
    width: 250px;
    /* height: 500px; */
    border: 2px solid black;
    border-radius: 29px;
    padding: 10px;
    margin: 10px;

}

.card2 {
    width: 250px;
    height: 150px;
    border-radius: 20px;
    align-items: center;
}

/* .card2:hover {
    width: 300px;
    height: 150px;
    border-radius: 20px;
    align-items: center;
} */

#pets {
    display: flex;
    justify-content: space-evenly;
}


.card:hover {
    background-color: antiquewhite;
    /* width: 300px; */
    /* color: rgb(200, 64, 200); */
    /* box-shadow: 2px; */
}