h2 {
    color: rgb(228, 227, 227);
    background-color: #7E8180;
    display: inline-block;
    height: 40px;
    width: 900px;
    padding: 1px;
    margin: 20px;
    border: 2px solid rgb(96, 106, 47);
    border-radius: 6px 19px 1px;
    text-align: center;
    /* font-size: 20px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 2px 2px 10px rgb(66, 138, 132);

}

h3{
   color: rgb(228, 227, 227);
    background-color: #7E8180;
    display: inline-block;
    height: 30px;
    width: 600px;
    padding: 1px;
    margin: 10px;
    /* justify-items: left; */
    /* justify-content: relative; */
    position: relative;
    left: 200px;
    
    border: 2px solid rgb(96, 106, 47);
    border-radius: 6px 19px 1px;
    text-align: center;
    /* font-size: 20px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 2px 2px 10px rgb(66, 138, 132); 
}

*{
     background-color: #7E8180;
}

p {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    font-size: 18px;
    /* margin: 50px; */
    text-align: center;
    /* margin: 50px;
    margin-top: 20px;
    margin-bottom: 0px; */
}


.meet {
    text-align: center;
    /* font-size: 30px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 20px;
}

span{
    color: rgb(255, 0, 0);
}