.card1 {
  width: 500px;
  /* height: 500px; */
  border: 2px solid black;
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
  position: relative;
  left: calc(50% - 260px);
  box-shadow: 5px 5px 30px color-mix(in srgb, rgb(255, 0, 128) 50%, white 50%);
}

.pic {
  position: relative;
  left: 30%;
  top: 12px;
  padding: 10px;
  margin: auto;
  /* align-items: center; */
  display: inline-block;
  /* justify-items: center; */
  width: 200px;
  height: 150px;
  align-items: center;
  border-radius: 20px 50px 20px 50px;
  border: 3px solid black;
  margin-bottom: 10px;
  box-shadow: 2px 2px 10px rgb(47, 235, 223);
  /* box-sizing: border-box; */
}

.rr {
  text-align: right;
  display: inline-block;
  padding: 5px;
  margin: auto;
  position: relative;
  left: 370px;
  color: rgb(255, 255, 255);
  border: 2px 2px 2px solid color-mix(in srgb-linear, rgb(0, 0, 0) 50%, black 50%);
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgb(12, 29, 29);
  /* box-sizing: content-box; */
}

.rr::first-letter {
  text-align: center;
  color: rgb(255, 0, 144);
}

.Welcome {
  text-align: left;
  color: rgb(255, 255, 255);
  /* border: 1px solid rgb(255, 255, 255); */
  /* border-radius: 4px; */
  animation: welcome 5s backwards 6s infinite normal;
}

.Welcome::first-letter {
  text-align: center;
  color: rgb(255, 0, 144);
}

h5 {
  /* padding: 2%; */
  /* margin: auto; */
  /* border: 2px 2px 2px solid color-mix(in srgb-linear, rgb(0, 0, 0) 50%, black 50%); */
  /* border-radius: 5px; */
  /* box-shadow: 2px 2px 10px rgb(12, 29, 29); */
  text-align: left;
  /* text-size-adjust: auto; */
  color: rgb(0, 255, 255);
  animation: wel 10s forwards 6s 2 forwards;
  /* display: inline-block; */
}

h5::first-letter {
  text-align: center;
  color: rgb(255, 0, 144);
}

.work1::first-line {
  text-align: center;
  color: rgba(220, 247, 18, 0.701);
}

.nam {
  color: rgb(255, 247, 7);
}

h4 {
  color: rgb(228, 227, 227);
  /* background-color: #3f98f2; */
  background: #020024;
  background: linear-gradient(318deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 52%,
      rgba(0, 212, 255, 1) 86%,
      rgba(0, 212, 255, 1) 100%);

  display: inline-block;
  height: 30px;
  width: 1040px;
  padding: 2px;
  margin: 20px;
  border: 2px solid rgb(200, 225, 75);
  border-radius: 6px 19px 1px;
  text-align: center;
  box-shadow: 2px 2px 10px rgb(179, 218, 215);
  color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  animation: h3 1s backwards 3s infinite normal;
}

.ee {
  color: rgb(230, 87, 106);
  background-color: inherit;
}

* {
  background-color: #7e8180;
}

.nn {
  color: rgb(0, 255, 17);
  /* color: inherit; */
}

/* .imagecard2 {
    justify-content: space-evenly;
    position: relative;
    left: 100px;
} */

h2 {
  background: #020024;
  background: linear-gradient(90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(14, 14, 121, 0.84) 35%,
      rgba(0, 212, 255, 1) 100%);
  /* background-color: #7e8180; */
  display: inline-block;
  height: 40px;
  width: 300px;
  padding: 2px;
  margin: 20px;
  border: 2px solid rgb(30, 166, 234);
  border-radius: 6px 19px 1px;
  text-align: center;
  box-shadow: 2px 2px 10px rgb(25, 65, 211);
}

b {
  color: black;
}

.abouti {
  /* width: 600px; */
  /* height: auto; */
  /* position: relative; */
  /* left: calc(50% - 300px); */
  /* top: 20px; */
  /* border: 2px solid rgba(161, 6, 251, 0.704); */
  /* border-radius: 1px 30px 1px 30px; */
  /* box-shadow: 5px 5px 10px 5px rgb(10, 7, 10); */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  /* background-color: inherit; */
 /* color: inherit; */
  margin-bottom: 20px;
}

p i{
  background-color: inherit;
  color: inherit;
}
.work1 {
  font-size: 20px;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  /* text-align: center */
 background: #b3e9ff;
background: linear-gradient(151deg, rgba(179, 233, 255, 1) 0%, rgba(87, 150, 199, 1) 50%, rgba(63, 130, 217, 1) 43%);
  box-shadow: 2px 2px 5px #000;
  /* color: #ffffff; */
  margin: 12px;
  border: 2px solid rgb(24, 23, 23);
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  /* background-color: inherit; */
  /* background: inherit; */
  /* text-decoration: underline; */
}

.page {
  /* height: 20px;
    width: 10px; */
  /* text-align: center; */
  background-color: inherit;
  margin-top: 5px;
  margin-bottom: 5px;
  /* border: 2px solid #d72525; */
  border-radius: 30px;
  text-decoration: none;
  /* color: rgb(201, 207, 89); */
}

button {
  height: 40px;
  width: 150px;
  padding: 2px;
  margin: 2px;
  border-radius: 12px;
  border: 1px solid rgb(255, 0, 251);
  background: #020024;
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
  border-radius: 20px;
  /* color: inherit; */
  /* background-color: inherit; */
  /* background-color: #579681; */
  box-shadow: 2px 2px 10px rgb(218, 208, 112);
  /* animation: button 1s backwards 3s infinite normal; */
}

button:hover {
  box-shadow: 2px 2px 10px rgb(0, 251, 147);
  /* cursor: pointer; */
  background: #2a7b9b;
  background: linear-gradient(90deg,
      rgba(42, 123, 155, 1) 0%,
      rgba(87, 199, 133, 1) 50%,
      rgba(237, 221, 83, 1) 100%);

  transition: box-shadow 0.3s ease-in-out;
  color: #000;
  width: 180px;
  height: 40px;
  /* padding: 2px; */
  /* margin: 2px; */
  /* border-radius: 12px; */
  border: 2px solid color-mix(in oklab, #49ce50 50%, #1de942 50%);
  border-radius: 20px;
  /* background-color: #579681; */
  box-shadow: 2px 2px 10px rgb(0, 251, 147);
  animation: button 0.5s forwards;
}

@keyframes button {
  from {
    height: 40px;
    width: 30px;
    padding: 2px;
    margin: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 20px;
    border: 1px solid rgb(220, 92, 183);
    border-radius: 20px;
    /* background-color: #579681; */
    box-shadow: 2px 2px 10px rgb(181, 73, 73);
  }

  to {
    height: 40px;
    width: 150px;
    padding: 2px;
    margin: 2px;
    /* color: #00eb2f; */
    /* background-color: lightgreen; */
    border-radius: 20px;
    border: 1px solid color-mix(in oklab, #17c53a 50%, #00ff08 50%);
    /* border-radius: 20px; */
    /* background-color: inherit; */
    box-shadow: 2px 2px 10px rgb(49, 213, 85);
  }
}


.Education {
  /* color: rgb(255, 0, 144); */
  font-size: 20px;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  /* text-align: center */
  /* color: inherit; */
  text-align: center;
  padding: 2px;
  background-color: #7e8180;
  margin: 2px;
  /* text-decoration: underline; */
}

p {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: rgb(0, 0, 0);
  margin: auto;
}

.name {
  width: 400px;
  height: 20px;
  padding: 4px;
  margin: auto;
  color: rgb(171, 249, 25);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.work {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.Contacts {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: auto;
  padding: 2px;
  /* position: explicit; */
  /* bottom: 0;
    top: 80%;
    width: 100%; */
}

.meet ul a {
  text-decoration: none;
  /* color: rgb(180, 63, 215); */
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  left: -3%;
}

@keyframes welcome {
  from {
    width: 0%;
    text-align: left;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  to {
    width: 100%;
    text-align: left;
    display: inline-block;
  }
}

@keyframes wel {
  from {
    width: 0%;
    /* text-align: center; */
    /* display: inline-block; */
    /* border: 1px solid rgb(255, 255, 255); */
    /* border-radius: 4px; */
    /* padding: 2px; */
    /* margin: auto; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  to {
    width: 100%;
    /* border: 2px solid rgb(255, 255, 255); */
    /* border-radius: 4px; */
    /* text-align: center; */
    /* display:inline-block; */
    /* padding: 2px; */
    /* justify-content: space-evenly; */
    /* margin: auto; */
  }
}

@keyframes h3 {
  from {
    height: 30px;
    width: 300px;
    padding: 2px;
    margin: 20px;
    border-radius: 12px;
    border: 1px solid rgb(96, 106, 47);
    border-radius: 20px;
    /* background-color: #579681; */
    box-shadow: 2px 2px 10px rgb(198, 53, 137);
  }

  to {
    height: 30px;
    width: 400px;
    padding: 2px;
    margin: 20px;
    border-radius: 12px;
    border: 1px solid rgba(191, 210, 96, 0.781);
    border-radius: 20px;
    /* background-color: #579681; */
    box-shadow: 2px 2px 10px rgb(22, 136, 181);
  }
}