.card1 {
  width: 500px;
  border: 2px 4px solid color-mix(in srgb, rgb(255, 0, 128) 50%, white 50%);
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
  position: relative;
  left: calc(50% - 260px);
  box-shadow: 5px 5px 30px color-mix(in srgb, rgb(255, 0, 128) 50%, white 50%);
}

.pic {
  position: relative;
  left: 30%;
  top: 12px;
  padding: 10px;
  margin: auto;
  display: inline-block;
  width: 200px;
  height: 150px;
  align-items: center;
  border-radius: 20px 50px 20px 50px;
  border: 3px solid black;
  margin-bottom: 10px;
  box-shadow: 2px 2px 10px rgb(47, 235, 223);
}

.rr {
  text-align: right;
  display: inline-block;
  padding: 5px;
  margin: auto;
  position: relative;
  left: 370px;
  color: rgb(255, 255, 255);
  border: 2px 2px 2px solid
    color-mix(in srgb-linear, rgb(0, 0, 0) 50%, black 50%);
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgb(12, 29, 29);
}

.rr::first-letter {
  text-align: center;
  color: rgb(255, 0, 144);
}

.Welcome {
  text-align: left;
  color: rgb(255, 255, 255);
  animation: welcome 5s backwards 6s infinite normal;
}

.Welcome::first-letter {
  text-align: center;
  color: rgb(255, 0, 144);
}

h5 {
  text-align: left;
  color: rgb(0, 255, 255);
  animation: wel 10s forwards 6s 2 forwards;
}

h5::first-letter {
  text-align: center;
  color: rgb(255, 0, 144);
}

.work1::first-line {
  text-align: center;
  color: rgba(220, 247, 18, 0.701);
}

.nam {
  color: rgb(255, 247, 7);
}

h4 {
  background: #020024;
  background: linear-gradient(
    318deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 52%,
    rgba(0, 212, 255, 1) 86%,
    rgba(0, 212, 255, 1) 100%
  );
  display: inline-block;
  height: 30px;
  width: 1040px;
  padding: 2px;
  margin: 20px;
  border: 2px solid rgb(200, 225, 75);
  border-radius: 6px 19px 1px;
  text-align: center;
  box-shadow: 2px 2px 10px rgb(179, 218, 215);
  color: rgb(255, 255, 255);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  animation: h3 1s backwards 3s infinite normal;
}

.ee {
  background: #121fcf;
  background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-color: inherit;
}

* {
  background-color: #7e8180;
}

.nn {
  color: rgb(0, 255, 17);
}

i b {
  background: #000000;
  background: radial-gradient(
    ellipse farthest-side at top right,
    #000000 8%,
    #21b4e2 25%,
    #21b4e2 75%,
    #000000 95%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  color: rgb(0, 0, 0);
  background: #020024;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(14, 14, 121, 0.84) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  display: inline-block;
  height: 40px;
  width: 300px;
  padding: 2px;
  margin: 20px;
  border: 2px solid rgb(30, 166, 234);
  border-radius: 6px 19px 1px;
  text-align: center;
  box-shadow: 2px 2px 10px rgb(25, 65, 211);
}

b {
  color: black;
}

.abouti {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

p i {
  background-color: inherit;
  color: inherit;
}

.work1 {
  font-size: 20px;
  background: #b3e9ff;
  background: linear-gradient(
    151deg,
    rgb(121, 178, 201) 0%,
    rgba(87, 150, 199, 1) 50%,
    rgb(81, 134, 204) 43%
  );
  box-shadow: 2px 2px 5px #000;
  /* color: #ffffff; */
  margin: 12px;
  border: 2px solid rgb(24, 23, 23);
  border-radius: 20px;
  text-align: center;
  padding: 10px;
}

.page {
  background-color: inherit;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 30px;
  text-decoration: none;
}

button {
  height: 40px;
  width: 150px;
  padding: 2px;
  margin: 2px;
  border-radius: 12px;
  border: 1px solid rgb(255, 0, 251);
  background: #020024;
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgb(218, 208, 112);
}

button:hover {
  box-shadow: 2px 2px 10px rgb(0, 251, 147);
  /* cursor: pointer; */
  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
  transition: box-shadow 0.3s ease-in-out;
  color: #000;
  width: 180px;
  height: 40px;
  border: 2px solid color-mix(in oklab, #49ce50 50%, #1de942 50%);
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgb(0, 251, 147);
  animation: button 0.5s forwards;
}

@keyframes button {
  from {
    height: 40px;
    width: 30px;
    padding: 2px;
    margin: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 20px;
    border: 1px solid rgb(220, 92, 183);
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(181, 73, 73);
  }

  to {
    height: 40px;
    width: 150px;
    padding: 2px;
    margin: 2px;
    border-radius: 20px;
    border: 1px solid color-mix(in oklab, #17c53a 50%, #00ff08 50%);
    box-shadow: 2px 2px 10px rgb(49, 213, 85);
  }
}

.Education {
  font-size: 20px;
  text-align: center;
  padding: 2px;
  background-color: #7e8180;
  margin: 2px;
}

p {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: rgb(0, 0, 0);
  margin: auto;
}

.name {
  width: 400px;
  height: 20px;
  padding: 4px;
  margin: auto;
  background: #121fcf;
  background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.work {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.Contacts {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  margin: auto;
  padding: 2px;
}

.meet ul a {
  text-decoration: none;
  /* color: rgb(180, 63, 215); */
  font-size: 20px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  position: relative;
  left: -3%;
}

@keyframes welcome {
  from {
    width: 0%;
    text-align: left;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  to {
    width: 100%;
    text-align: left;
    display: inline-block;
  }
}

@keyframes wel {
  from {
    width: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  to {
    width: 5%;
  }
}

@keyframes h3 {
  from {
    height: 30px;
    width: 200px;
    padding: 2px;
    margin: 20px;
    border-radius: 12px;
    border: 1px solid rgb(96, 106, 47);
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(198, 53, 137);
  }

  to {
    height: 30px;
    width: 400px;
    padding: 2px;
    margin: 20px;
    border-radius: 12px;
    border: 1px solid rgba(191, 210, 96, 0.781);
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(22, 136, 181);
  }
}

@media only screen and (max-width: 1000px) {
  .card1 {
    width: 300px;
    border: 2px 4px solid color-mix(in srgb, rgb(255, 0, 128) 50%, white 50%);
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    position: relative;
    left: calc(50% - 160px);
    box-shadow: 5px 5px 30px color-mix(in srgb, rgb(255, 0, 128) 50%, white 50%);
  }
}

@media only screen and (max-width: 400px) {
  h2 {
    width: 100px;
    font-size: 10px;
    left: 10%;
  }

  h4 {
    width: 200px;
    font-size: 7px;
    left: 400px;
  }

  h3 {
    width: 200px;
    font-size: 7px;
    left: 50px;
  }

  .Skills {
    width: 150px;
    font-size: 6px;
    left: 0px;
  }

  .imgcard2 {
    width: 50px;
    height: 400px;
    left: 20%;
  }

  .pic {
    width: 80px;
    height: 80px;
    left: 60%;
  }
}

@media screen and (min-width: 200px) {
  .imgcard2 {
    width: 200px;
    height: 200px;
    left: 30%;
    margin-top: 10px;
    margin-right: 15px;
  }

  h4 {
    width: 200px;
    font-size: 15px;
    left: 400px;
  }

  .pic {
    width: 200px;
    height: 200px;
    left: 20%;
  }

  @keyframes wel {
    from {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    to {
      width: 100%;
    }
  }
}
