/* .card1 {
    width: 1400px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
} */

h1 {
    text-align: center;
    color: aqua;

}

h1::first-letter {
    text-align: center;
    color: rgb(255, 0, 144);

}
h4{
     color: rgb(228, 227, 227);
    background-color: #7E8180;
    display: inline-block;
    height: 30px;
    width: 140px;
    padding: 2px;
    margin: 20px;
    border: 2px solid rgb(96, 106, 47);
    border-radius: 6px 19px 1px;
    text-align: center;
    box-shadow: 2px 2px 10px rgb(179, 218, 215);
     color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ee {
    color: fuchsia;
}

* {
    background-color: #7E8180;
}

.nn {
    color: rgb(0, 255, 17);
    /* color: inherit; */
}


/* .imagecard2 {
    justify-content: space-evenly;
    position: relative;
    left: 100px;
} */

h2 {
    color: rgb(228, 227, 227);
    background-color: #7E8180;
    display: inline-block;
    height: 40px;
    width: 140px;
    padding: 2px;
    margin: 20px;
    border: 2px solid rgb(96, 106, 47);
    border-radius: 6px 19px 1px;
    text-align: center;
    box-shadow: 2px 2px 10px rgb(179, 218, 215);


}

.page{
    /* height: 20px;
    width: 10px; */
    background-color: rgb(16, 1, 1);
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px ;
    border-radius: 3px;
    text-decoration: underline;
}

.work1 {
    font-size: 20px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* text-align: center */
    color: #ffffff;
    margin: 12px;

}

.rr {

    text-align: center;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    animation: wel 4s backwards 3s infinite normal;
}

.Education {
    font-size: 20px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* text-align: center */
    color: #bc9d2f;
    /* text-align: center; */
    /* padding: 12px;
    margin: 12px; */
    text-decoration: underline;

}





p {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    margin: auto;


}

.name {
    width: 400px;
    height: 20px;
    padding: 4px;
    margin: auto;
    color: rgb(171, 249, 25);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.work {
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pic {

    position: relative;
    left: 620px;
    top: 12px;
    padding: 20px;
    margin: auto;
    /* align-items: center; */
    display: inline-block;
    /* justify-items: center; */
    width: 200px;
    height: 150px;
    align-items: center;
    border-radius: 20px 50px 20px 50px;
    border: 3px solid black;
    margin-bottom: 10px;
    box-shadow: 2px 2px 10px rgb(47, 235, 223);
}

@keyframes wel {
    from {
        width: 0%;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 4px;
        padding: 2px;
        margin: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    to {
        width: 50%;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 4px;
        text-align: center;
        padding: 2px;
        justify-content: space-evenly;
        margin: auto;

    }


}