/* .card1 {
    width: 1400px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
} */

h1 {
    text-align: center;
    color: aqua;

}

h1::first-letter {
    text-align: center;
    color: rgb(255, 0, 144);

}

.ee {
    color: fuchsia;
}

* {
    background-color: #71708F;
}

.nn {
    color: rgb(212, 255, 0);
    /* color: inherit; */
}


/* .imagecard2 {
    justify-content: space-evenly;
    position: relative;
    left: 100px;
} */

.rr {

    text-align: center;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    animation: wel 4s backwards 3s 2 normal;
}


p{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    

}
.name{
    width: 400px;
    height: 20px;
    color: rgb(171, 249, 25);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.work {
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pic {

    position: relative;
    left: 620px;
    top: 12px;
    padding: 20px;
    margin: auto;
    /* align-items: center; */
    display: inline-block;
    /* justify-items: center; */
    width: 200px;
    height: 150px;
    align-items: center;
    border-radius: 20px 50px 20px 50px;
    border: 3px solid black;
    margin-bottom: 10px;
    box-shadow: 2px 2px 10px rgb(47, 235, 223);
}

@keyframes wel {
    from {
        width: 0%;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 4px;
        padding: 2px;
        margin: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    to {
        width: 50%;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 4px;
        text-align: center;
        padding: 2px;
        justify-content: space-evenly;
        margin: auto;

    }


}