h2 {
    color: rgb(0, 0, 0);
    background-color: #7E8180;
    display: inline-block;
    height: 30px;
    width: 200px;
    padding: 1px;
    margin: 20px;
    position: relative;
    left: 20%;
    border: 2px solid rgb(112, 70, 126);
    border-radius: 6px 19px 1px;
    text-align: center;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    box-shadow: 2px 2px 10px rgb(8, 245, 127);

}

.Skills {
    text-align: center;
    font-size: 15px;
    padding: 10px;
    margin: auto;
    width: 350px;
    height: 150px;
    position: relative;
    left: 0px;
    top: 25px;
    border: 2px solid rgba(161, 6, 251, 0.704);
    border-radius: 1px 30px 1px 30px;
    box-shadow: 5px 5px 10px 5px rgb(10, 7, 10);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}

h3 {
    color: rgb(228, 227, 227);
    background-color: #7E8180;
    display: inline-block;
    height: 30px;
    width: 600px;
    padding: 1px;
    margin: 10px;
    /* justify-items: left; */
    /* justify-content: relative; */
    position: relative;
    left: 200px;
    border: 2px solid rgb(206, 247, 4);
    border-radius: 6px 19px 1px;
    text-align: center;
    /* font-size: 20px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 2px 2px 10px rgb(70, 212, 110);
}

h4 {
    color: rgb(27, 29, 26);
    background-color: #7E8180;
    display: inline-block;
    height: 20px;
    width: 200px;
    padding: 1px;
    margin: 10px;
    position: relative;
    left: 30px;
    border: 2px solid rgb(61, 149, 146);
    border-radius: 30px;
    text-align: center;
    /* text-align: justify; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    box-shadow: 2px 2px 10px rgb(221, 107, 120);
}

* {
    background-color: #7E8180;
}

b {
    color: rgb(183, 19, 19);
}

p {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    font-size: 10px;
    /* margin: 50px; */
    text-align: center;
}

.foot {
    text-align: center;
    font-size: 15px;
    padding: 0px;
    margin: 0px;
    position: relative;
    top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}

/* .Contacts {
     min-height: 30vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
} */
.footer {

     /* min-height: 100vh;
    display: flex;
    flex-direction: column;  */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
     /* height: 160px; */
    text-align: center;
    /* font-size: 30px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}