h2 {
    color: rgb(228, 227, 227);
    background-color: #7E8180;
    display: inline-block;
    height: 40px;
    width: 900px;
    padding: 2px;
    margin: 20px;
    border: 2px solid rgb(96, 106, 47);
    border-radius: 6px 19px 1px;
    text-align: center;
    /* font-size: 20px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


    box-shadow: 2px 2px 10px rgb(179, 218, 215);

}

*{
    background-color: #7E8180;
}
b{
    color: rgb(183, 19, 19);
}

p{
     color: black;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     justify-content: center;
        font-size: 18px;
        margin: 50px;

        
}