.nav {
  text-align: right;
  font-size: 15px;
  padding: 5px;
  margin: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 3px;
  left: 0;
  /* background-color: #6d7170; */
  display: block;
}

.nav a {
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
  color: rgb(0, 255, 238);
  border: 1px solid rgb(201, 68, 68);
  border-radius: 7px;
  padding: 3.5px;
  margin: auto;
}

h2 {
  color: rgb(0, 0, 0);
  background-color: #7e8180;
  display: inline-block;
  height: 30px;
  width: 200px;
  padding: 1px;
  margin: 20px;
  position: relative;
  left: 20%;
  border: 2px solid rgb(112, 70, 126);
  border-radius: 6px 19px 1px;
  text-align: center;
  box-shadow: 2px 2px 10px rgb(8, 245, 127);
  animation: button both 3s 5 alternate;
}

.Skills {
  text-align: center;
  font-size: 15px;
  padding: 20px;
  margin: auto;
  width: 350px;
  height: auto;
  position: relative;
  left: 0px;
  top: 25px;
  border: 2px solid rgba(161, 6, 251, 0.704);
  border-radius: 1px 30px 1px 30px;
  box-shadow: 5px 5px 10px 5px rgb(10, 7, 10);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
}

.Skills:hover {
  background-color: inherit;
  animation: work 0.5s infinite alternate;
}

h3 {
  color: rgb(228, 227, 227);
  background-color: #7e8180;
  display: inline-block;
  height: 30px;
  width: 600px;
  padding: 1px;
  margin: 10px;
  position: relative;
  left: 200px;
  border: 2px solid rgb(206, 247, 4);
  border-radius: 6px 19px 1px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 2px 2px 10px rgb(70, 212, 110);
}

h4 {
  color: rgb(249, 250, 249);
  background: #020024;
  background: linear-gradient(
    318deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 52%,
    rgba(0, 212, 255, 1) 86%,
    rgba(0, 212, 255, 1) 100%
  );
  display: inline-block;
  height: 25px;
  width: 200px;
  padding: 1px;
  margin: 10px;
  position: relative;
  left: 30px;
  border: 2px solid rgb(61, 149, 146);
  border-radius: 30px;
  text-align: center;
  box-shadow: 2px 2px 10px rgb(221, 107, 120);
}

* {
  background-color: #7e8180;
}

b {
  color: rgb(183, 19, 19);
  background-color: inherit;
}

p {
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  font-size: 10px;
  text-align: center;
}

.foot {
  text-align: center;
  font-size: 15px;
  padding: auto;
  margin: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
}

.footer {
  position: fixed;
  bottom: 0;
  left: -5%;
  width: 100%;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
}

@keyframes button {
  from {
    color: white;
    background-color: #db3535;
    width: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  to {
    color: cyan;
    background: #f8f8fd;
    background: linear-gradient(
      318deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 52%,
      rgba(0, 212, 255, 1) 86%,
      rgba(0, 212, 255, 1) 100%
    );
    overflow: hidden;
    text-overflow: ellipsis;
   width: 220px;
  }
}

@keyframes work {
  from {
    background-color: #1bdf9e;
    width: 400px;
  }

  to {
    background-color: rgb(104, 191, 227);
  }
}
