/* STYLE APPLYID IN PORTFOILIO  */
div h1 {
    text-decoration: rgb(233, 174, 57);
    text-align: center;
    color: #8FABD4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0C2B4E;
}

h1+p {
    color: teal;
    text-align: center;
    background-color: rgb(219, 214, 64);
}

section div h2 {
    color: rgb(20, 160, 241);
    text-align: center;
    background-color: black;
    font-family: monospace;
}

li {
    color: #003459;
    text-align: left;

}

h2 {
    color: rgb(246, 8, 8);
    text-align: center;
    background-color: black;
}

h2+li {
    color: black;
    -webkit-text-stroke-width: bold;
}

.pic {
    display: block;
    margin: auto;
    width: 200px;
    height: 300px;

}

div h1::first-letter {
    color: rgb(255, 0, 200);

}

div h1::first-letter {
    font-family: cursive;

}

div h1:hover {
    color: rgb(0, 245, 0);
    font-family: Arial, Helvetica, sans-serif;
}

* {
    background-color: #afb2b7;
}