/* STYLE APPLYID IN PORTFOILIO  */
div h1 {
    text-decoration: rgb(233, 174, 57);
    text-align: center;
    color: #8FABD4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0C2B4E;
    height: 50px;
    padding: 5px;
    margin: 30px;
    /* border-width: 5px;
    border-style: solid;
    border-color: rgb(0, 229, 255); */
    border: 5px solid rgba(0, 238, 255, 0.788);
    border-radius: 30px;
}


h1+p {
    color: rgb(240, 89, 7);
    text-align: center;
    background-color: rgb(219, 214, 64);
    height: 22px;
    padding: 2px;
    margin: 20px;
    border: 2px solid;
    border-radius: 50px;

}

section div h2 {
    color: rgb(20, 160, 241);
    text-align: center;
    background-color: rgb(70, 22, 22);
     padding: 5px;
     margin-right: 150px;
    font-family: monospace;
}

li {
    color: #bcdd13;
    text-align: center;
    height: 30px;
    padding: 4px 5px 6px;
    margin: 16px; 
    
    


}

h2 {
    color: rgb(246, 8, 8);
    text-align: center;
    background-color: black;
    height: 25px;
    border: 4px solid;
    border-radius: 30px;
    padding: 5px;
    margin-right: 150px;
}

h2+li {
    color: rgb(232, 1, 159);
    -webkit-text-stroke-width: bold;
}

.pic {
    display: block;
    margin: 5px;
    width: 200px;
    height: 200px;
    border-radius: 40px;
    display: inline-block;
    padding: 10px;
    margin: auto;
    align-items: center;

}

div h1::first-letter {
    color: rgb(255, 0, 200);

}

div h1::first-letter {
    font-family: cursive;

}

div h1:hover {
    color: rgb(0, 245, 0);
    font-family: Arial, Helvetica, sans-serif;
}

* {
    background-color: #000000;
}

.box {
    border: 5px solid rgba(79, 34, 121, 0.771);
    width: 300px;
    border-radius: 22px;

}

.Contacts {
    border: 5px solid;
    
}
h3{
    color: red;
}