/* STYLE APPLYID IN PORTFOILIO  */
div h1 {
    text-decoration: rgb(233, 174, 57);
    text-align: center;
    color: #8FABD4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0C2B4E;
    height: 50px;
    padding: 5px;
    margin: 30px;
    /* border-width: 5px;
    border-style: solid;
    border-color: rgb(0, 229, 255); */
    border: 5px solid rgba(0, 238, 255, 0.788);
    border-radius: 30px;
}


h1+p {
    color: teal;
    text-align: center;
    background-color: rgb(219, 214, 64);
    height: 22px;
    padding: 2px;
    margin: 20px;
    border: 2px solid;
    border-radius: 50px;

}

section div h2 {
    color: rgb(20, 160, 241);
    text-align: center;
    background-color: black;

    font-family: monospace;
}

li {
    color: #003459;
    text-align: left;
    height: 30px;


}

h2 {
    color: rgb(246, 8, 8);
    text-align: center;
    background-color: black;
    height: 25px;
    border: 4px solid;
    border-radius: 30px;
}

h2+li {
    color: black;
    -webkit-text-stroke-width: bold;
}

.pic {
    display: block;
    margin: 5px;
    width: 200px;
    height: 300px;
    border-radius: 20px;

}

div h1::first-letter {
    color: rgb(255, 0, 200);

}

div h1::first-letter {
    font-family: cursive;

}

div h1:hover {
    color: rgb(0, 245, 0);
    font-family: Arial, Helvetica, sans-serif;
}

* {
    background-color: #eff7ff;
}

.box {
    border: 5px solid blueviolet;
    width: 300px;
    border-radius: 22px;

}

.Contacts {
    border: 5px solid;
}