/* STYLE APPLYID IN PORTFOILIO  */
div h1 {
    text-decoration: rgb(233, 174, 57);
    text-align: center;
    color: #8FABD4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #111d2b;
    height: 50px;
    padding: 5px;
    margin: 30px;
    /* border-width: 5px;
    border-style: solid;
    border-color: rgb(0, 229, 255); */
    border: 5px solid rgba(0, 238, 255, 0.788);
    border-radius: 30px;
    

}


h1+p {
    color: rgb(240, 89, 7);
    text-align: center;
    background-color: rgb(31, 60, 78);
    height: 22px;
    padding: 2px;
    margin: 20px;
    border: 2px solid;
    border-radius: 50px;

}

section div h2 {
    color: rgb(213, 220, 224);
    text-align: center;
    background-color: rgb(31, 6, 6);
    padding: 5px;
    margin-right: 150px;
    font-family: monospace;
}

li {
    color: #bcdd13;
    text-align: left;
    height: 30px;
    padding: 4px 5px 6px;
    margin: 10px;

}

h2 {
    color: rgb(246, 8, 8);
    text-align: center;
    background-color: black;
    height: 25px;
    border: 4px solid;
    border-radius: 30px;
    padding: 5px;
    margin-right: 150px;
}

h2+li {
    color: rgb(232, 1, 159);
    -webkit-text-stroke-width: bold;
}

.pic {
    display: block;
    margin: 9;
    width: 200px;
    height: 200px;
    border-radius: 40px;
    display: inline-block;
    padding: 10px;
    margin: auto;
    align-items: center;
    transform: translate(30px);
    box-shadow: 3px 3px 10px yellow;
    opacity: 80%;

}

div h1::first-letter {
    color: rgb(255, 0, 200);

}

div h1::first-letter {
    font-family: cursive;

}

div h1:hover {
    color: rgb(0, 245, 0);
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    transition-duration: 1s;
    margin: 2px;

}

* {
    background-color: #2e2828;
}

.box {
    border: 5px solid rgba(82, 0, 159, 0.771);
    width: 300px;
    border-radius: 30px 30px 20px 20px;

}

.Contacts {
    border: 5px solid;
    color: rgb(0, 0, 0);

}

h3 {
    color: red;
}

footer h2 {
    color:#ffffff;
    background-color: rgb(36, 15, 6);
}

section div h2:hover {
    color: rgb(255, 38, 0);
    background-color: rgb(95, 28, 86);
    transition-duration: 1s;
    margin: 20px;
}


ul {
    color: rgb(0, 204, 255);
}

.pic:hover {
    display: block;
    margin: 5px;
    width: 200px;
    height: 200px;
    border-radius: 40px;
    display: inline-block;
    padding: 10px;
    margin: auto;
    align-items: center;
    transform: translate(10px);
    box-shadow: 3px 3px 10px rgb(11, 200, 86);
    /* transform: skew(4deg); */

    /* position element use */
    position: relative;
    left: 20px;
}

li:hover {
    margin: 10px;
    color: rgb(255, 0, 0);
    transform: scale(1.2);


}

.con:hover {
    color: rgb(79, 188, 62);
    background-color: rgb(95, 28, 86);
    transition-duration: 1s;
    margin: 20px;

}
div ul a {

    color: chartreuse;

}

div ul a:hover {
    color: rgb(250, 17, 191);
}

div ul{
    border-radius: 40px;
}