h1 {
    color: #1b74e4;
}
* {
    font-family: 'Courier New', Courier, monospace;
}
#login {
    color: black;
    background-color: rgb(0, 255, 255);
}
#register {
    color: black;
    background-color: rgb(0, 255, 255);
}
input+button {
    color: azure;
    background-color: black;
}