.face {
    width: 300px;
    height: 300px;
    background-color: rgb(241, 231, 40);
    position: relative;
    top: 10px;
    left: 10px;
    border-radius: 50%;

}

.mouth {
    width: 100px;
    height: 50px;
    background-color: brown;
    position: relative;
    top: 180px;
    left: 100px;
    border-radius: 0 0 30px 30px
}

.eyes {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    top: 25px;
    left: 180px;

}

.eyes1 {
      width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 80px;
    left: 70px;

}